.parameters-form-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parameters-form-page__form {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    flex-basis: 40%;
}

.parameters-form-page__form-control {
    margin-left: 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.parameters-form-page__label {
    flex-basis: 60%;
}

.parameters-form-page__text-field {
    flex-basis: 40%;
}

.parameters-form-page__map-div {
    flex-basis: 60%;
}

.parameters-form-page__map {
    height: 80vh;
    width: 100vh;
    margin: 0 16px;
}