.map-control {
    background-color: white !important;
    opacity: 1;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-width: thin;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
}

.map-change-control__form {
    display: flex;
    flex-direction: column;
}

.map-legend__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-legend__box {
    height: 10px;
    width: 10px;
    border-radius: 8px;
    margin-left: 4px;
    margin-right: 8px;
}