.mainDiv {
    padding: 10px;
}

.topPanel {
    background-color: #61dafb;
}

.header {
    float: left;
}

.buttons {
    margin-top: 10px;
    float: right;
}

.buttonBack {
    margin-right: 10px !important;
}

.dropdown {
    width: 200px;
    float: left;
    clear: left;
}