.mainDiv {
    padding: 5px 50px;
}

.mainDiv:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    text-align: center;
}

.divWithAccordions {
    float: left;
    width: 40%;
}

.accordion {
    margin-top: 10px;
    background-color: lightgray !important;
}

.accordionName {
    text-transform: capitalize;
}

.accordionDetails {
    max-height: 300px;
    overflow-y: auto;
    background-color: lightgray;
    padding-bottom: 30px;
    padding-left: 20px;
}

.MuiAccordion-root{
    /*margin-top: 10px;*/
    /*background-color: lightgray;*/
}

.columnCheckboxes {
    float: left;
    width: 33.33%;
}

.rowCheckboxes:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 60%;
    /*border-color: black;*/
    /*border-style: solid;*/
    /*margin-left: 20px;*/

}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#map {
    height: 85vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}